output/*
!output/.gitkeep
input/*
!input/dragon.obj
!input/diamond.obj
!input/plane.obj
!input/bumpy-cube.obj
!input/sphere3_patches
!input/torus_patches
!input/torus.obj
!input/cloth.obj
!input/plane_5.obj
!input/sphere1.obj
!input/bunnyhead.obj
build/
build_debug/
include/rxmesh/util/git_sha1.cpp
.vscode/
scripts/*.log
scripts/*.ini
scripts/*.nsys-rep
scripts/*.sqlite
scripts/*.obj
