name: Windows
on: [push, pull_request, workflow_dispatch]
jobs:
  WindowsRun:
    runs-on: windows-2022
    steps:
      - uses: Jimver/cuda-toolkit@v0.2.29
        id: cuda-toolkit
        with:
          cuda: '12.5.0'
          linux-local-args: '["--toolkit"]'  
          use-local-cache: false
          use-github-cache: false    
      - run: nvcc -V      
      - name: Checkout
        uses: actions/checkout@v4            
      - name: Create build directory
        run: mkdir ${{github.workspace}}/build      
      - name: Configure CMake
        working-directory: ${{github.workspace}}/build
        run: cmake ../ -DCMAKE_CUDA_ARCHITECTURES=89
      - name: Run VS
        run: cmake --build ${{github.workspace}}/build --clean-first --config Release -j 4
      #- name: Run Test
      #  working-directory: ${{github.workspace}}/build
      #  run: ctest --no-compress-output -T Test -C Release --output-on-failure
      - run: echo "This job's status is ${{ job.status }}."
